
.bottomImgs{
    display: flex;
}
.bottomImgs img{
    max-width: 25vw;
}
.client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 5em;
}
.reviewsgroup{
    display: flex;
    justify-content:center;
    margin: 3em 0;
    gap: 50px;
}
.review:nth-child(2){
    color: hsl(213, 9%, 39%)
}
.review p{
    max-width: 35ch;
}
.review img {
    border-radius: 70px;
    max-width: 100px;
    margin-bottom: 1em;
}
.name{
    margin-top: 4rem;
    font-family:"Fraunces", serif; 
    font-weight: 900; 
    font-size: 24px;
    color: hsl(212, 27%, 19%);
}
.job{
    margin-top: -10px;
    color: hsl(210, 4%, 67%);
}
.overlay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "design photo";
    text-align: center;
    margin-top: -300px;
    margin-bottom: 200px;
}
.design{
    grid-area: design;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.design p, .design h3{
    color: hsl(167, 40%, 24%);
}
.photo {
    grid-area: photo;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.photo p, .photo h3{
    color: hsl(198, 62%, 26%);
}
.combined{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-areas: "left right";
   margin-top: -5px;
}
.design p, .photo p{
    max-width: 38ch;
    margin-bottom: 2em;
    text-align: center;
}
.cherries{
    grid-area: left;
}
.orange{
    grid-area: right;
}
.combined img{
    width: 50vw;
}
.audience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image text"; 
    margin-top: -5px;
}
.aLeft{
    grid-area: image;
}
.aRight{
    grid-area: text;
}
.transform{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image"; 
    margin-top: -5px;
}
.right{
    grid-area: image;
}
.right img, .aLeft img{
    width: 50vw;
}
.left, .aRight{
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25%;
}
.left h2{
    max-width: 14ch;
}
.left p, .aRight p{
    max-width: 45ch;
    margin-bottom: 2em;
}
.btn{
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    max-width: 160px;
    z-index: 1;
    color: hsl(212, 27%, 19%)
}
.underline{
    width: 165px;
    height: 15px;
    background-color:hsl(51, 100%, 49%);
    opacity: 30%;
    border-radius: 20px;
    margin-top: -12px;
}
.underline2{
    width: 165px;
    height: 15px;
    background-color:hsl(7, 99%, 70%);
    opacity: 30%;
    border-radius: 20px;
    margin-top: -12px;
}
.btn, .underline:hover, .underline2:hover{
    opacity: 100%;
    cursor: pointer;
}
.headerImg {
    position: relative;
}
header {
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    text-align: center;
}
header img {
    max-width: 50px;
    padding-left: 49vw;
}
body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100vw;
}
img{max-width: 100vw;}
footer{
    background-color:hsl(168, 39%, 66%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 60px;
}
footer nav{
    margin: 0;
    overflow: hidden;
}
.logo{
    filter: invert(68%);
    width: 250px;
    margin-bottom: 1em;
}
.secondNav ul li a{
    padding: 0.5em;
    margin: 0;
}
.secondNav ul li a:hover{
    filter: saturate(10%) brightness(400%);
}
footer nav ul li a{
    display: block;
    text-decoration: none;
    line-height: 3em;
    color: hsl(168, 34%, 41%);
    font-family: "Barlow", sans-serif; font-family: 600;
    padding: 1em;
    font-weight: 600;
}
footer nav ul li a:hover{
    color: white;
}
footer nav ul li{
    display: inline-block;
    list-style-type: none;
}
.headerNav{
    background-color: hsl(201, 99%, 64%);
    margin: 0;
    overflow: hidden;
}
.headerNav ul, footer nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
.headerNav ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 4em;
}
.headerNav ul li a{
    display: block;
    text-decoration: none;
    padding: 1em 0;
    line-height: 3em;
    color: white;
    font-family: "Barlow", sans-serif; font-family: 600;
}
.headerNav ul li:first-child{
    margin-right: auto;
}
.headerNav img {
    padding-left: 2em;
}
.attribution{
    padding: 1em;
}
.headerNav li a.active{
    background-color: white;
    color: black;
    font-family: "Fraunces", serif; 
    font-weight: 900;
    border-radius: 40px;
    padding: 0 2em;
}
.headerNav li a.active:hover{
    background-color: rgba(255, 255, 255, 0.253);
    color: white;
}
h1{font-family: "Fraunces", serif; font-weight: 700; font-size: 90px; margin-bottom: 1.5em; color: white; letter-spacing: 0.1em;}
h2{font-family: "Fraunces", serif; font-weight: 900; font-size: 50px; color: hsl(212, 27%, 19%)}
h3{font-family: "Fraunces", serif; font-weight: 900; font-size: 30px;}
h4{font-family: "Fraunces", serif; font-weight: 900; font-size: 24px; letter-spacing: 0.2em; color: hsl(210, 4%, 67%)}
p{font-family: "Barlow", sans-serif; font-weight: 600; font-size: 18px; line-height: 1.5em; color: hsl(232, 10%, 55%)}

@media  screen and (max-width: 400px) {
    h1{font-size: 40px;}
    h2{font-size: 20px;}
    h3{font-size: 18px;}
    h4{font-size: 18px;}
    header {
        top: 15%;
    }
  
}